@{
    Layout = "_Layout";
    ViewBag.Title = "Dashbord - Home";
}
@using Microsoft.AspNetCore.Http
@model List<Helperland.Models.ViewModel.Customer.CurrentServicesViewModel>
<div class="row justify-content-center gray-bachgroud" style="margin-top:100px; padding-top:2rem;padding-bottom:2rem;">
    <h1 class="text-center"> Welcome, @Context.Session.GetString("username") </h1>


</div>
<div class="row justify-content-center">
    <partial name="_CustomerSidetaMenuPartialView" />
    <input type="hidden" value="@Context.Session.GetString("userID")" id="userId" />
    <div class="col-md-9">
        <div class="row p-3">
            <div class="col-md-6"><h3> Current Service Requests </h3></div>
            <div class="col-md-6 text-right"> <a asp-action="Index" asp-controller="BookService" class="btn rounded-pill marun font-white">Add New Service Request </a>  </div>
        </div>

        <div class="row p-3">
            <div class="col-md-12 table-responsive">
                <table id="tblCurrentServiceRequest" class="table table-hover table-outside-border ">
                    <thead>
                        <tr class="gray-bachgroud">
                            <th>Service Id </th>
                            <th>Service Date </th>
                            <th>Service Provider </th>
                            <th>Payment</th>
                            <th> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td onclick="OpenModel(@item.ServiceId)"> @item.ServiceId </td>
                                <td class="flex" onclick="OpenModel(@item.ServiceId)">
                                    <div><img src="/image/calendar2.png" asp-append-version="true"><b> @item.StartDate</b> </div>
                                    8.:00 - 12:00
                                </td>
                                <td onclick="OpenModel(@item.ServiceId)">
                                    @if (item.ServiceProviderName != null)
                                    {
                                        <div class="d-flex">
                                            <div class="service-history-icon d-flex">
                                                @if (item.Avatar == 0.ToString())
                                                {
                                                    <img src="./image/avatar-car.png" style="height:50px;width:50px">
                                                }
                                                else if (item.Avatar == 1.ToString())
                                                {
                                                    <img src="./image/avatar-female.png" style="height:50px;width:50px" >
                                                }
                                                else if (item.Avatar == 2.ToString())
                                                {
                                                    <img src="./image/avatar-hat.png" style="height:50px;width:50px" >
                                                }
                                                else if (item.Avatar == 3.ToString())
                                                {
                                                    <img src="./image/avatar-iron.png" style="height:50px;width:50px">
                                                }
                                                else if (item.Avatar == 4.ToString())
                                                {
                                                    <img src="./image/avatar-male.png" style="height:50px;width:50px">
                                                }
                                                else if (item.Avatar == 5.ToString())
                                                {
                                                    <img src="./image/avatar-ship.png" style="height:50px;width:50px">
                                                }

                                            </div>
                                            <div>
                                                <span class="d-block"> @item.ServiceProviderName </span>
                                                @{
                                                    int i = (int)item.Rating;
                                                }
                                                @for (int j = 0; j < i; j++)
                                                {
                                                    <img src="/image/yellow-small-star.png" class="service-history-star-icon">
                                                }
                                                @for (int j = 0; j < 5 - i; j++)
                                                {
                                                    <img src="/image/grey-small-star.png" class="service-history-star-icon">
                                                }
                                                @i
                                            </div>

                                        </div>
                                    }

                                </td>
                                <td class="active-font" onclick="OpenModel(@item.ServiceId)">
                                    <div> <b> @item.Payment  €</b> </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm  marun font-white rounded-pill m-2" ata-bs-toggle="modal" data-bs-target="#ServiceDeatils" onclick="RescheduleService(@item.ServiceId)">Reschedule </button>
                                    <button class="btn btn-cancel btn-sm font-white rounded-pill m-2" ata-bs-toggle="modal" data-bs-target="#ServiceDeatils" onclick="CancelService(@item.ServiceId)">Cancel</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal  Service Details -->
<div class="modal fade" id="ServiceDeatils" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Service Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-9" id="ModelMainDiv">
                        <div>
                            <span id="ModelServiceDate" class="font-bold h5"></span> 8:00 - 13:00<br />
                            <span class="font-bold"> Duration </span><span id="ModelDuration"> </span> Hrs
                        </div>
                        <hr />
                        <div>
                            <span class="font-bold"> Service Id: </span><span id="ModelServiceRequestId"> </span>.<br />
                            <span class="font-bold"> Extras </span> <span id="ModelExtra"></span><br />
                            <span class="font-bold"> Net Amount: </span> <span id="ModelTotalCost" class="font-blue font-bold"></span> €<br />
                        </div>
                        <hr />
                        <div>
                            <span class="font-bold"> Service Address </span><span id="ModelServiceAddress"> </span>.<br />
                            <span class="font-bold"> Phone Number </span><span id="ModelMobileNumber"> </span><br />
                            <span class="font-bold"> Email </span><span id="ModelEmail"> </span><br />
                        </div>
                        <hr />
                        <div>
                            <span class="font-bold"> Comments </span> <br /> <span id="ModelComments"> </span>
                        </div>
                        <hr />
                        <span> <img src="/image/not-included.png" id="ModelHasPatImage" /> I <span id="ModelHasPat">  don't </span>  have Pate at Home</span>
                        <hr />
                        <button class="btn marun font-white rounded-pill m-2" id="ModelbtnReschedule" value="" onclick="RescheduleService(this.value)">Reschedule </button>
                        <button class="btn cancel  font-white rounded-pill m-2" id="ModelbtnCancel" value="" onclick="CancelService(this.value)">Cancel</button>
                    </div>
                    <div class="col-md-3 display-none" id="ModelServiceProviderDetails">
                        <h6> Service Provider Details</h6>
                        <div class="d-flex">
                            <div class="service-history-icon d-flex" id="ModelServiceAvatarImage">
                               
                            </div>
                            <div>
                                <span class="d-block" id="ModelServiceProviderName">  </span>
                                <span id="ModelServiceRating" ></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal Rechedule Service -->
<div class="modal fade" id="ModelServiceReschedule" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Reschedule Service</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert  alert-dismissible fade show display-none " id="ModelAlertMessage" role="alert">

                </div>
                <span> Select New Date &  Time</span><br />
                <input type="hidden" value="" id="RecheduleServiceModelServiceId" />

                <div class="row mt-2">
                    <div class="col-md-8"> <input type="date" id="RescheduleModelDate" class="form-control" /> </div>
                    <div class="col-md-4">
                        <select class="form-control form-select">
                            <option value="8.00">8.00</option>
                            <option value="8.30">8.30</option>
                            <option value="9.00">9.00</option>
                            <option value="9.30">9.30</option>
                            <option value="10.00">10.0</option>
                            <option value="10.30">10.30</option>
                            <option value="11.00">11.0</option>
                            <option value="11.30">11.30</option>
                            <option value="12.00">12.0</option>
                            <option value="12.30">12.30</option>
                            <option value="13.00">13.00</option>
                            <option value="13.30">13.30</option>
                            <option value="14.00">14.00</option>
                            <option value="14.30">14.30</option>
                            <option value="15.00">15.00</option>
                        </select>
                    </div>
                </div>
                <div class=" mt-2 p-2">
                    <button class="btn rounded-pill marun font-white form-control" onclick="UpdateServiceDate()">Update</button>
                </div>
            </div>
           
        </div>
    </div>
</div>

@*Model Cancel Service*@
<div class="modal fade" id="ModelCancelService" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cancel Service</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert  alert-dismissible fade show display-none " id="ModelCancelAlertMessage" role="alert">

                </div>
                <span> Whay you want cancel service request ?</span><br />
                <input type="hidden" value="" id="CancelModelServiceId" />

                <div class="row mt-2">
                    <div class="col-md-12"> <textarea rows="3" class="form-control" id="CancelServiceModelComments"> </textarea> </div>
                    <span class="display-none text-danger" id="errCancelServiceModelComments"> Enter Reason  </span>
                </div>
                <div class=" mt-2 p-2">
                    <button class="btn rounded-pill marun font-white form-control" id="btnCancelServiceModel" disabled onclick="CancelServiceClick()">Update</button>
                </div>
            </div>

        </div>
    </div>
</div>



@section Script{
    <style>
        a:hover {
            color: white !important;
        }
    </style>
    <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>

         /*   Open Service Details Model on Click of Table Row*/
        function OpenModel(para) {
            $("#ServiceDeatils").modal('show');
            $("#ModelServiceRequestId").text(para);
            $("#ModelbtnReschedule").val(para);
            $("#ModelbtnCancel").val(para);
        $.ajax({
                  type: "POST",
            url: "@Url.Action("GetServiceRequestData")",
            data: { "ServiceReqestId": para },
                 success: function (responce) {
                     var obj = JSON.parse(responce);
                     $("#ModelDuration").text(obj.TotalHour);
                     $("#ModelServiceDate").text(obj.ServiceDate);
                     $("#ModelExtra").text(obj.Extra);
                     $("#ModelTotalCost").text(obj.TotalCost);
                     $("#ModelServiceAddress").text(obj.Address);
                     $("#ModelMobileNumber").text(obj.MobileNumber);
                     $("#ModelEmail").text(obj.Email);
                     $("#ModelComments").text(obj.Comments);
                     if (obj.ServiceProviderId != null) {

                         $("#ModelServiceProviderName").text(obj.ServiceProviderName);
                         $("#ModelServiceProviderDetails").show();
                         $("#ModelServiceProviderDetails").addClass("col-md-3");
                         $("#ModelMainDiv").addClass("col-md-9");
                         $("#ModelMainDiv").removeClass("col-md-12");
                         $("#ModelServiceAvatarImage").empty();
                         if (obj.Avatar == 0) {
                             $("#ModelServiceAvatarImage").append(' <img src="./image/avatar-car.png" style="height:50px;width:50px;">  ');
                         }
                         else if (obj.Avatar == 1) {
                             $("#ModelServiceAvatarImage").append('  <img src="./image/avatar-female.png" v> ');
                         }
                         else if (obj.Avatar == 2) {
                             $("#ModelServiceAvatarImage").append(' <img src="./image/avatar-hat.png" style="height:50px;width:50px;"> ');
                         }
                         else if (obj.Avatar == 3) {
                             $("#ModelServiceAvatarImage").append('  <img src="./image/avatar-iron.png" style="height:50px;width:50px;"> ');
                         }
                         else if (obj.Avatar == 4) {
                             $("#ModelServiceAvatarImage").append('  <img src="./image/avatar-male.png" style="height:50px;width:50px;">');
                         }
                         else if (obj.Avatar == 5) {
                             $("#ModelServiceAvatarImage").append(' <img src="./image/avatar-ship.png" style="height:50px;width:50px;"> ');
                         }
                     }
                     else {
                         $("#ModelServiceProviderDetails").hide();
                         $("#ModelServiceProviderDetails").removeClass("col-md-3");
                         $("#ModelMainDiv").removeClass("col-md-9");
                         $("#ModelMainDiv").addClass("col-md-12");


                     }
                     if (obj.Haspet) {
                         $("#ModelHasPatImage").attr("src", "/image/included.png");
                         $("#ModelHasPat").hide();
                     } else {
                         $("#ModelHasPatImage").attr("src", "/image/not-included.png");
                         $("#ModelHasPat").show();
                     }
                     $("#ModelServiceRating").empty();
                     for (var i = 0; i < 5; i++) {
                         if (obj.Rating > i) {
                             $("#ModelServiceRating").append('<img src="/image/yellow-small-star.png" class="service-history-star-icon">');
                         }
                         else {
                             $("#ModelServiceRating").append('<img src="/image/grey-small-star.png" class="service-history-star-icon">');
                         }
                     }
                     $("#ModelServiceRating").append(obj.Rating);

                 },
                 failure: function (response) {
                        alert("failure");
                 },
                 error: function (response) {
                        alert("Something went Worng");
                 }

              });
        }

        /*   Open Reschedule Details Model on Click of  Reschedule Button Click*/
        function RescheduleService(para) {
            $("#RecheduleServiceModelServiceId").val(para);
            $("#ServiceDeatils").modal('hide');
            $("#ModelServiceReschedule").modal('show');
            $(".loder-wrapper").fadeIn("fast");
             $.ajax({
                  type: "POST",
                 url: "@Url.Action("GetServiceDate")",
                 data: { "serviceReqestId": para },
                 success: function (responce) {
                     $("#RescheduleModelDate").val(responce);
                     $('#RescheduleModelDate').attr('min', responce);
                     $(".loder-wrapper").fadeOut("fast");
                    },
                    failure: function (response) {
                        alert("failure");
                        $(".loder-wrapper").fadeOut("fast");
                    },
                    error: function (response) {
                        alert("Something went Worng");
                        $(".loder-wrapper").fadeOut("fast");
                    }

              });


        }

        /*   Open Cancel  Model on Click of  Cancel Button Click*/
        function CancelService(para) {
            $("#ModelCancelService").modal('show');
            $("#CancelModelServiceId").val(para);
            $("#CancelServiceModelComments").val("");
            
        }

        /*  Update Service Model */
        function UpdateServiceDate() {
            $(".loder-wrapper").fadeIn("fast");
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateServiceDate")",
                data: { "serviceDate": $("#RescheduleModelDate").val(), "serviceProviderId": $("#RecheduleServiceModelServiceId").val() },
                success: function (responce) {
                    if (responce) {
                        $("#ModelAlertMessage").addClass("alert-success");
                        $("#ModelAlertMessage").show();
                        $("#ModelAlertMessage").text(" Reschedule Date Successfully").fadeOut(5000);
                        location.reload();
                        $(".loder-wrapper").fadeOut("fast");
                    }
                    else {
                        $("#ModelAlertMessage").addClass("alert-danger");
                        $("#ModelAlertMessage").show();
                        $("#ModelAlertMessage").text("Select different date ").fadeOut(8000);
                        $(".loder-wrapper").fadeOut("fast");
                    }

                    },
                    failure: function (response) {
                        alert("failure");
                        $(".loder-wrapper").fadeOut("fast");
                    },
                    error: function (response) {
                        alert("Something went Worng");
                        $(".loder-wrapper").fadeOut("fast");
                    }

              });

        }


        /* Cancel Service Model*/

        function CancelServiceClick() {

            if ($("#CancelServiceModelComments").val() == null) {
                $("#errCancelServiceModelComments").show();
                $("#btnCancelServiceModel").removeAttr("disabled");
                return;
            }
            $(".loder-wrapper").fadeIn("fast");
              $.ajax({
                type: "POST",
                url: "@Url.Action("CancelService")",
                  data: { "serviceRequestId": $("#CancelModelServiceId").val(), "message": $("#CancelServiceModelComments").val() },
                success: function (responce) {
                    if (responce) {
                        $("#ModelCancelAlertMessage").addClass("alert-success");
                        $("#ModelCancelAlertMessage").show();
                        $("#ModelCancelAlertMessage").text(" Canceled Your Request").fadeOut(5000);
                        location.reload();
                        
                    }
                    else {
                        $("#ModelAlertMessage").addClass("alert-danger");
                        $("#ModelAlertMessage").show();
                        $("#ModelAlertMessage").text("Somthing went wrong ").fadeOut(8000);
                        location.reload();
                    }
                    $(".loder-wrapper").fadeOut("fast");
                    },
                    failure: function (response) {
                        alert("failure");
                        $(".loder-wrapper").fadeOut("fast");
                    },
                    error: function (response) {
                        alert("Something went Worng");
                        $(".loder-wrapper").fadeOut("fast");
                    }

              });
        }

        
        $("#CancelServiceModelComments").change(function () {
            var p = $("#CancelServiceModelComments").val();
            if (p == null || p == "") {
                $("#errCancelServiceModelComments").show();
                $("#btnCancelServiceModel").attr('disabled', 'disabled');
            }
            else {
                $("#errCancelServiceModelComments").hide();
                $("#btnCancelServiceModel").removeAttr("disabled");

            }
        });

      /*  Implement Datatable in Service Table*/
        $(document).ready(function () {
            $('#tblCurrentServiceRequest').dataTable({
                "bFilter": false,
                "bInfo": false,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1] /* 1st one, start by the right */
                }],
                "order": [[0, "desc"]]
            });

        })

    </script>


}