
@{
    Layout = "_Layout";
    ViewBag.Title = "Book Service";
}

@using Microsoft.AspNetCore.Http
@model Helperland.Models.ViewModel.BookService.BookServiceViewModel
<section id="headerImage">
    <img src="~/Image/book-service-banner.jpg" class="img-fluid  banner-Section">
</section>

<section id="Book-Service">
    <div class="text-center">
        <div class=" justify-content-center align-self-center">
            <h1 class="">Set up your cleaning service</h1>
            <div class="separator-line"></div>
            <img src="~/Image/separator.png">
            <div class="separator-line"></div>
        </div>


    </div>
    <div class="container ">
        <form asp-action="BookServiceRequest">
            <input hidden id="userID" asp-for="UserId" value="@Context.Session.GetInt32("userID")" />
            <div class="row justify-content-center mt-3">
                <div class="col-md-7 " id="bookservice">
                    <button class="btn nav-btn active-book-service" onclick="setUpService()"><img src="~/image/setup-service-white.png"> Set up Service</button>
                    <button class="btn nav-btn" onclick="schedulePlan()"><img src="~/image/setup-service.png"> Schedule & Plan</button>
                    <button class="btn nav-btn" onclick="servicedetails()"><img src="~/image/details.png"> Details</button>
                    <button class="btn nav-btn"><img src="~/image/payment.png"> Make Payment</button>
                    <div class="mt-3" id="first-book-service">

                        <h6> Enter your Postal Code</h6>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <input class="form-control" type="text" id="txtpincode" pattern="[\d]{9}" maxlength="6" asp-for="ZipCode">
                                <span id="Errpincode" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <input type="button" class="btn rounded-pill active-btn" id="btnpincode" value="Check Availability">
                            </div>
                        </div>
                    </div>
                    <div class="mt-3" id="second-book-service">
                        <div class="row">
                            <div class="col-md-7">
                                <h6>When do you need the cleaner?</h6>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <input type="date" asp-for="ServiceStartDate" class="form-control" id="serviceDate" value="@DateTime.Now.ToString("yyyy/MM/dd")">
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control form-select" id="serviceStartTime" asp-for="ServiceStartTime">
                                            <option value="8.00">8.00</option>
                                            <option value="8.30">8.30</option>
                                            <option value="9.00">9.00</option>
                                            <option value="9.30">9.30</option>
                                            <option value="10.00">10.0</option>
                                            <option value="10.30">10.30</option>
                                            <option value="11.00">11.0</option>
                                            <option value="11.30">11.30</option>
                                            <option value="12.00">12.0</option>
                                            <option value="12.30">12.30</option>
                                            <option value="13.00">13.00</option>
                                            <option value="13.30">13.30</option>
                                            <option value="14.00">14.00</option>
                                            <option value="14.30">14.30</option>
                                            <option value="15.00">15.00</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <h6>How long do you need your cleaner to stay?</h6>
                                <div class="row">
                                    <div class="col-md-5">
                                        <select class="form-control form-select" id="totalServiceTime" asp-for="TotalService">
                                            <option value="3">3.0</option>
                                            <option value="3.5">3.5</option>
                                            <option value="4">4.0</option>
                                            <option value="4.5">4.5</option>
                                            <option value="5">5.0</option>
                                            <option value="5.5">5.5</option>
                                            <option value="6">6.0</option>
                                            <option value="6.5">6.5</option>
                                            <option value="7">7.0</option>
                                            <option value="7.5">7.5</option>
                                            <option value="8">8.0</option>
                                            <option value="8.5">8.5</option>
                                            <option value="9">9.0</option>
                                            <option value="9.5">9.5</option>
                                            <option value="10">10.0</option>
                                            <option value="10.5">10.5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="book-service-extra-flex">

                            <input type="hidden" value="0" id="numberOfExtraService" />
                            <div class=" book-service-extra text-center" onclick="checkIfSelected(0)" value="1">
                                <div class="btn-rounded-book-service">
                                    <input type="hidden" value="notselected" class="hidden-input" asp-for="InsideCabinet">
                                    <img src="~/image/1.png" class="img-book-service">
                                </div>
                                Inside Cabinet
                            </div>
                            <div class=" book-service-extra text-center" onclick="checkIfSelected(1)" value="1">
                                <div class="btn-rounded-book-service">
                                    <input type="hidden" value="notselected" class="hidden-input" asp-for="InteriorOven">
                                    <img src="~/image/2.png" class="img-book-service">
                                </div>
                                Inside Oven
                            </div>
                            <div class="m-2 book-service-extra text-center" onclick="checkIfSelected(2)" value="1">
                                <div class="btn-rounded-book-service">
                                    <input type="hidden" value="notselected" class="hidden-input" asp-for="LaundryWashDry">
                                    <img src="~/image/3.png" class="img-book-service">

                                </div>
                                Laundry wash & dry
                            </div>
                            <div class="m-2 book-service-extra text-center" onclick="checkIfSelected(3)" value="1">
                                <div class="btn-rounded-book-service">
                                    <input type="hidden" value="notselected" class="hidden-input" asp-for="InteriorWindows">
                                    <img src="~/image/4.png" class="img-book-service">

                                </div>
                                Interior windows
                            </div>
                            <div class="m-2 book-service-extra text-center" onclick="checkIfSelected(4)" value="1">
                                <div class="btn-rounded-book-service">
                                    <input type="hidden" value="notselected" class="hidden-input" asp-for="InsideFridge">
                                    <img src="~/image/5.png" class="img-book-service">
                                </div>
                                Interior Fridge
                            </div>
                        </div>
                        <hr class="mt-5">
                        <div>
                            <h6 class="mb-3">
                                Comments
                            </h6>
                            <textarea class="form-control" asp-for="Comments">
        
                        </textarea>
                        </div>
                        <div class="mt-3">
                            <input type="checkbox" asp-for="HasPets"> I have pets at home
                        </div>
                        <hr>
                        <div class="text-right">
                            <input type="button" class="btn rounded-pill active-btn " onclick="gotoyourDetails()" value="Continue">
                        </div>
                    </div>

                    <div class="mt-3" id="third-book-service">
                        <h6>  Enter your contact details, so we can serve you in better way!</h6>
                        <div id="showAddresss">

                        </div>
                        <span id="errSelectAddress" class="text-danger d-block"></span>
                        <div class="mt-3 border p-2 display-none" id="addAddress">
                            <div class="row">
                                <div class="col-md-6">
                                    street
                                    <input class="form-control" value="" id="addAddressLine1" />
                                    <span id="errAddAddressLine1" class="text-danger"> </span>
                                </div>
                                <div class="col-md-6">
                                    House Number
                                    <input class="form-control" value="" id="addAddressLine2" />
                                    <span id="errAddAddressLine2" class="text-danger"> </span>

                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    Postcode
                                    <input class="form-control" id="addAddressPostCode" disabled />
                                </div>
                                <div class="col-md-6">
                                    City
                                    <select id="addAddressCity" asp-items="@ViewBag.city" class="form-control form-select">
                                        <option value="-1">- Select City -</option>
                                    </select>
                                    <span id="errAddAddressCity" class="text-danger"> </span>

                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    Phone Number
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">+91</div>
                                        </div>
                                        <input type="number" value="" class="form-control" id="addAddressPhoneNumber" placeholder="Phone Number" required maxlength="10">

                                    </div>
                                    <span id="errAddAddressPhoneNumber" class="text-danger"> </span>
                                </div>

                            </div>
                            <div class="row mt-2 p-3">
                                <div class=" col-md-12">
                                    <input type="button" class=" btn mr-3 ml-3 marun rounded-pill font-white" id="addNewAddress" value="Save" />
                                    <input type="button" class="mr-3 btn btn-outline rounded-pill" value="Discard" id="btnCloseAddress" />
                                </div>

                            </div>
                        </div>

                        <button class="btn mt-3 btn-outline rounded-pill mb-3" id="btnAddNewAddress">+ Add New Address</button><br>
                        <input type="checkbox"> Send invoice on this address
                        <hr>
                        <div class="text-right">
                            <input type="button" class="btn rounded-pill active-btn " onclick="gotomakepaymentAfterCheck()" id="btnMakePayment" value="Continue">
                        </div>


                    </div>
                    <div class="mt-3" id="fourth-book-service">
                        <h6 class="mt-3">Pay securely with Helperland payment gateway!</h6>
                        <div class="mt-3">Promo code (optional)</div>
                        <div class="row ">
                            <div class="col-md-6">
                                <input class="form-control" type="text" placeholder="Procode optional">
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-outline rounded-pill ">Apply</button><br>
                            </div>
                        </div>
                        <hr>
                        <div class="mb-3 mt-3">
                            <div class="row">
                                <div class="col-md-7">
                                    <input type="number"  class="form-control form-control-none" placeholder="Card Number" id="txtCardNumber">
                                    <span id="errCardNumber" class="text-danger display-none">Enter Valid Card Number</span>

                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control form-control-none" placeholder="MM/YY" id="MonthAndYear">
                                    <span id="errMonthAndYear" class="text-danger display-none">Enter Valid Month and Year</span>
                                </div>
                                <div class="col-md-2">
                                    <input type="number" class="form-control form-control-none" placeholder="CVV" id="CVV">
                                    <span id="errCVV" class="text-danger display-none" >Enter Valid CVV </span>

                                </div>
                            </div>
                            
                        </div>
                        <hr>
                        <div class="mt-3">

                            <input type="checkbox" onchange="document.getElementById('btnBookService').disabled = !this.checked;" id="termAndCondition">I accepted terms and conditions, the cancellation policy and the privacy policy. I confirm that Helperland starts to execute the contract before the expiry of the withdrawal period and I lose my right of withdrawal as a consumer with full performance of the contract.
                        </div>
                        <hr>
                        <div class="text-right mt-5">
                            <button type="submit" class="btn rounded-pill active-btn " id="btnBookService" disabled>Complete Booking</button>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 m-1">
                    <div class="row g-0">
                        <div class="col-md-12 form-control  active-book-service p-2">
                            Payment Summary
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="card">
                                <div class="card-body">
                                    <div><span id="textDate">@DateTime.Now.ToString("d/MM/yyyy") </span> &nbsp;&nbsp; <span id="textTime">8.0 </span></div>
                                    <div>Duration</div>
                                    <div class="row">
                                        <div>
                                            <span class="text-left">Basic</span>
                                            <input asp-for="ServiceHours" hidden value="3" id="ServiceHours" />
                                            <span class="text-right float-right"> <span id="textBasichour"> 3.0 </span>  Hours</span>
                                        </div>
                                        <div id="textExtraCabinet" class="display-none">
                                            <span class="text-left">Cleaning the  cabinets</span>
                                            <span class="float-right">30 Minutes</span>
                                        </div>
                                        <div id="textExtraFridge" class="display-none">
                                            <span class="text-left">Cleaning the fridge </span>
                                            <span class="float-right">30 Minutes</span>
                                        </div>
                                        <div id="textExtraOven" class="display-none">
                                            <span class="text-left">Cleaning the oven</span>
                                            <span class="float-right">30 Minutes</span>
                                        </div>
                                        <div id="textExtraLaundry" class="display-none">
                                            <span class="text-left">washing and drying laundry</span>
                                            <span class="float-right">30 Minutes</span>
                                        </div>
                                        <div id="textExtraWindow" class="display-none">
                                            <span class="text-left">Cleaning the windows</span>
                                            <span class="float-right">30 Minutes</span>
                                        </div>
                                        <div class="text-center ">
                                            <div class=" justify-content-center align-self-center ">
                                                <div class="footer_line justify-content-center "></div>
                                            </div>
                                        </div>

                                        <b>
                                            <hr />
                                            <div class="mb-3">
                                                <span class="text-left">Total service time</span>
                                                <span class="float-right">
                                                    <span id="textTotalHour"> 3.0 </span> Hour
                                                </span>

                                            </div>
                                        </b>
                                        <hr>

                                        <div class="mt-3">
                                            <b><span class="text-left text-marun justify-content-center">Total Price</span></b>
                                            <input asp-for="TotalCost" hidden value="54" id="TotalCost" />
                                            <h3 class="d-inline-block float-right text-marun"> € <span id="textTotalAmount"> 54</span>.00 </h3>
                                        </div>
                                        <div>According to § 19 UStG, no value added tax is charged.</div>
                                        <div class="mt-1">
                                            <span class="text-red">*</span>You will save 20% according to §35a EStG.
                                        </div>
                                    </div>
                                </div>
                                <span class="basic-service">See what is always included</span>
                            </div>

                            <div class="mt-4">
                                <div class="text-center font-24">
                                    <b>Questions?</b>
                                </div>
                                <div class="accordion" id="accordionExample">
                                    <ul class="ul-li">

                                        <li class="padded" onclick="rotateImage" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="true" aria-controls="collapseExample1">
                                            Which Helperland professional will my place?
                                        </li>

                                        <div class="collapse" id="collapseExample1" data-parent="#accordionExample">
                                            <div class="li-bottom-contain">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet porro ex atque, ipsam, quisquam eligendi, consectetur fugit perspiciatis quo explicabo aliquid accusantium! At, quisquam? Saepe sit quasi voluptas magnam ipsa.
                                            </div>
                                        </div>
                                        <hr />

                                        <li class="padded" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                                            Which Helperland professional will my place?
                                        </li>

                                        <div class="collapse" id="collapseExample2" data-parent="#accordionExample">
                                            <div class="li-bottom-contain">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet porro ex atque, ipsam, quisquam eligendi, consectetur fugit perspiciatis quo explicabo aliquid accusantium! At, quisquam? Saepe sit quasi voluptas magnam ipsa.
                                            </div>
                                        </div>
                                        <hr>

                                        <li class="padded" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
                                            Which Helperland professional will my place?
                                        </li>

                                        <div class="collapse" id="collapseExample3" data-parent="#accordionExample">
                                            <div class="li-bottom-contain">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet porro ex atque, ipsam, quisquam eligendi, consectetur fugit perspiciatis quo explicabo aliquid accusantium! At, quisquam? Saepe sit quasi voluptas magnam ipsa.
                                            </div>
                                        </div>
                                        <hr>

                                        <li class="padded" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
                                            Which Helperland professional will my place?
                                        </li>

                                        <div class="collapse" id="collapseExample4" data-parent="#accordionExample">
                                            <div class="li-bottom-contain">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet porro ex atque, ipsam, quisquam eligendi, consectetur fugit perspiciatis quo explicabo aliquid accusantium! At, quisquam? Saepe sit quasi voluptas magnam ipsa.
                                            </div>
                                        </div>
                                        <hr>

                                        <li class="padded" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5">
                                            Which Helperland professional will my place?
                                        </li>

                                        <div class="collapse" id="collapseExample5" data-parent="#accordionExample">
                                            <div class="li-bottom-contain">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet porro ex atque, ipsam, quisquam eligendi, consectetur fugit perspiciatis quo explicabo aliquid accusantium! At, quisquam? Saepe sit quasi voluptas magnam ipsa.
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="mt-2 font-18 text-blue">
                                            For more help
                                        </div>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<div class="modal fade" id="SuccessRequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Successfully Booked Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
           
                <div class="modal-body">
                   Your Request Id is @ViewBag.ServiceRequestID .
                </div>
                <div class="modal-footer">
                    <input type="button" data-bs-dismiss="modal" class="btn font-white form-control rounded-pill marun" value="Close">

                </div>
            
            
        </div>
    </div>
</div>


@section Script{
    @if (ViewBag.SuccessRequest == true)
    {
        <script>
            $(window).on('load', function () {
                $('#SuccessRequest').modal('show');
            });
        </script>

    }
    <script>
    $(document).ready(function () {
        let btn = $(".nav-btn");
        for (let i = 1; i < btn.length; i++) {
            btn[i].setAttribute("disabled", "disabled");
        }

        $('#serviceDate').change(function () {
            $("#textDate").text ( $(this).val());
        });

        $('#serviceStartTime').change(function  () {
            $("#textTime").text($(this).val());
        });

        $('#totalServiceTime').change(function () {
            var basichour = $(this).val() - 0.5 * parseInt($("#numberOfExtraService").val());
            if (basichour < 3) {
                alert("Basic Hour must be grater than 3 hr");
                $('#totalServiceTime').val(3 + 0.5 * parseInt($("#numberOfExtraService").val()));
                return;
            }
            $("#textBasichour").text($(this).val() - 0.5 * parseInt($("#numberOfExtraService").val()));
            $("#textTotalAmount").text(18 * $(this).val());
            $("#textTotalHour").text($(this).val());
        });


        $("#btnAddNewAddress").on("click", function () {
            $("#addAddress").show();
            $("#btnAddNewAddress").hide();

        });

        $("#btnCloseAddress").on("click", function () {
            $("#addAddress").hide();
            $("#btnAddNewAddress").show();
        });

       /* add new address in the database*/
        $("#addNewAddress").on("click", function () {
            var check = false;
            if ($("#addAddressLine1").val() == "") {
                $("#errAddAddressLine1").text("Enter Street");
                check = true;
            }
            if ($("#addAddressLine2").val() == "") {
                $("#errAddAddressLine2").text("Enter House Number");
                check = true;
            }
            if ($("#addAddressCity").val() == -1) {
                $("#errAddAddressCity").text("Select City");
                check = true;
            }
            if ($("#addAddressPhoneNumber").val() == "") {
                $("#errAddAddressPhoneNumber").text("Enter Phone number");
                check = true;
            }
            if (check) {
                return;
            }
            var address = {};

            address.userId = parseInt($("#userID").val());
            address.addressLine1 = $("#addAddressLine1").val();
            address.addressLine2 = $("#addAddressLine2").val();
            address.cityId = parseInt($("#addAddressCity").val());
            address.zipCode = $("#addAddressPostCode").val();
            address.mobileNo = $("#addAddressPhoneNumber").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddAddress")",
                data:JSON.stringify(address),
                dataType: 'json',
                contentType: 'application/json',
                success: function (responce) {
                    if (responce) {
                        $("#addAddress").hide();
                        $("#btnAddNewAddress").show();
                        getAddress();
                    }

                },
                failure: function (response) {
                    alert("failure");
                },
                error: function (response) {
                    alert("Something went Worng");
                }

            });
        });

        /*check pincode is available for service */
        $("#btnpincode").on("click", function () {
            var data = $("#txtpincode").val();
            if (data.length != 6) {
                $("#Errpincode").text("Enter Valid Pincode of Six Digit");
                return;
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("CheckPincode")",
                data: { "Pincode": $("#txtpincode").val() },
                success: function (responce) {
                    //alert(responce);
                    if (responce == true) {
                        gotonextplan();
                    }
                    else {
                        if (!responce) {
                            $("#Errpincode").text("Enter Valid Pincode");
                        }
                        else {
                            $("#Errpincode").text(responce);
                        }

                    }
                },
                failure: function (response) {
                    alert("failure");
                },
                error: function (response) {
                    alert("Something went Worng");
                }

            });
        });


        $('#textTotalAmount').on('DOMSubtreeModified', function () {
            $("#TotalCost").val($('#textTotalAmount').text());
        })

        $('#textBasichour').on('DOMSubtreeModified', function () {
            $("#ServiceHours").val($('#textBasichour').text());
        })

        $('#txtCardNumber').on('input', function () {
            var Password = $("#txtCardNumber").val();
            if (Password.length != 16 ) {
                $('#errCardNumber').addClass('error').show();
                $("#btnBookService").attr('disabled', 'disabled');
            }
            else {
                $("#btnBookService").removeAttr('disabled');
                $('#errCardNumber').removeClass('error').hide();
            }



        });

        $('#MonthAndYear').on('input', function () {
            var Password = $("#MonthAndYear").val();
            if (Password.length != 5) {
                $('#errMonthAndYear').addClass('error').show();
                $("#btnBookService").attr('disabled', 'disabled');
            }
            else {
                $("#btnBookService").removeAttr('disabled');
                $('#errMonthAndYear').removeClass('error').hide();
            }



        });

        $('#CVV').on('input', function () {
            var Password = $("#CVV").val();
            if (Password.length != 3) {
                $('#errCVV').addClass('error').show();
                $("#btnBookService").attr('disabled', 'disabled');
            }
            else {
                $("#btnBookService").removeAttr('disabled');
                $('#errCVV').removeClass('error').hide();
            }



        });


    });

       /*Get Address from Data base*/
        function getAddress() {
              $.ajax({
                  type: "POST",
                  url: "@Url.Action("GetAddress")",
                  data: { "userID": $("#userID").val() },
                  success: function (responce) {
                      var obj = JSON.parse(responce);
                      $("#showAddresss").empty();
                      for (var i = 0; i < obj.length; i++) {
                          $("#showAddresss").append(' <div class="border mt-3 address"> <input type="radio" name="AddressId" class="rbAddress" value="' + obj[i].AddressID + '"  > <div class="d-inline-block margin-left-10">  <b> Address:</b> ' + obj[i].AddressLine1 + ' , ' + obj[i].AddressLine2 + ' , ' + obj[i].ZipCode + ' <br> <b> Phone number:</b> ' + obj[i].MobileNo+' </div> </div>');

                      }
                    },
                    failure: function (response) {
                        alert("failure");
                    },
                    error: function (response) {
                        alert("Something went Worng");
                    }

              });
        }

        /*If check box is check than enable the Sumbit button*/
        function gotomakepaymentAfterCheck() {
            if ($('input[name=AddressId]:checked').length > 0) {
                gotomakepayment();
            }
            else {
                $("#errSelectAddress").text("Please select Address").fadeOut(10);
            }

        }


    </script>

}