@{
    Layout = "_Layout";
    ViewBag.Title = "My Rating ";
}
@using Microsoft.AspNetCore.Http
@model List<Helperland.Models.ViewModel.ServiceProvider.RatingsViewModel>
<div class="container-fluid">
    <div class="row justify-content-center gray-bachgroud" style="margin-top: 100px; padding-top: 2rem; padding-bottom: 2rem;">
        <h1 class="text-center"> Welcome, @Context.Session.GetString("username") </h1>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-md-2">
            <partial name="_ServiceProviderMenuPartialView" />
        </div>
        <div class="col-md-9 p-3">
            @foreach (var item in Model)
            {

                <div class="row p-2 mb-3" style="border:1px solid grey">
                    <div class="col-md-3 mb-2">
                        <span class="font-bold">@item.ServiceRequestID </span> <br />
                        <span class="font-bold"> @item.CustomerName </span>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div><img src="/image/calendar2.png"><b>@item.ServiceDate</b> </div>
                        <div><img src="/image/layer-14.png"> 12:00 - 18:00 </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <span class="font-bold">Ratings </span><br />
                        <div>
                            @for(var i = 1; i < 6; i++)
                            {
                                if(i <= (int) item.Rating)
                                {
                                      <img src="/image/yellow-small-star.png" class="service-history-star-icon">
                                     
                                }
                                else
                                {
                                    <img src="/image/grey-small-star.png" class="service-history-star-icon">
                                }

                            }
                            @{ 
                               var Rating = Convert.ToInt32(item.Rating);
                            }
                            @if(Rating > 3 && Rating <= 4 )
                            {
                             <span>Very Good  </span>
                            }
                            else if(Rating > 4 && Rating <= 5)
                            {
                        <span>Excellent </span>
                            }
                            else if(Rating > 2 && Rating <= 3)
                            {
                        <span>Good </span>
                            }
                        </div>
                    </div>
                    <hr class="mt-2" />
                    <div class="col-md-12">
                        <span class="font-bold"> Customer Comments:  </span>  @item.Comments
                    </div>
                </div>
            }


        </div>
    </div>
</div>
